.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --global-font: sans-serif;
  --global-border-radius: 16px;
  --global-box-shadow-color: #91a3b1;
  --navbar-height: 80px;
  --font-size-massive: 4rem;
  --font-size-huge: 3.5rem;
  --font-size-big: 3rem;
  --font-size-title: 2.5rem;
  --font-size-heading: 2rem;
  --font-size-subheading: 1.5rem;
  --font-size-body: 1rem;
  --font-size-small: 0.75rem;
  --font-size-tiny: 0.5rem;
  --color-primary: #000000;
  --color-secondary: #ffffff;
  --color-tertiary: #282c34;
}

.app{
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--color-tertiary);
  color: var(--color-secondary);
}

.movie-data-container{
  display: flex;
  flex-direction: column;
  font-family: var(--global-font);
}

.movie-data-header{
  font-size: var(--font-size-subheading);
}

.movie-data-entry{
  font-size: var(--font-size-body);
  padding: 3px 0px 3px 0px;
}