.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --global-font: sans-serif;
  --global-border-radius: 16px;
  --global-box-shadow-color: #91a3b1;
  --navbar-height: 80px;
  --font-size-massive: 4rem;
  --font-size-huge: 3.5rem;
  --font-size-big: 3rem;
  --font-size-title: 2.5rem;
  --font-size-heading: 2rem;
  --font-size-subheading: 1.5rem;
  --font-size-subsubheading: 1.25rem;
  --font-size-body: 1rem;
  --font-size-small: 0.75rem;
  --font-size-tiny: 0.5rem;
  --color-primary: #ffffff;
  --color-secondary: #545578;
  --color-tertiary: #11121d;
  /* --color-tertiary: #282c34; */
}

.app{
  height: 100vh - var(--navbar-height);
  min-width: 100vw;
  background-color: var(--color-primary);
}



.search-container{
  position: absolute;
  display: flex;
  align-items: center;
  right: 2%;
}

.search-input{
  height: 20px;
  margin: 5px;
}

.search-icon{
  height: 24px;
  width: 24px;
  margin: 5px;
}

.search-icon:hover{
  content: url("./search-icon-orange.png");
}

.movie-data-container{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--global-font);
  top: var(--navbar-height)
  /* max-height: calc(100vh - var(--navbar-height)); */
}

.movie-data-header{
  background-color: var(--color-secondary);
  font-size: var(--font-size-heading);
  font-weight: 600;
  color: white;
  text-align: center;
  padding: 20px 0px 20px 0px;
}

.header-button-container{
  display: flex;
  justify-content: center;
  width: 100vw;
  background-color: var(--color-secondary);
  font-size: var(--font-size-heading);
  margin: 0px;
  padding: 0px;
}

.header-button{
  margin: 0px;
  background-color: var(--color-secondary);
  border: none;
  padding: 10px 20px 10px 20px;
  /* margin: 0px 10px 0px 10px; */
  color: #a29ead;
}

.header-button:hover{
  background-color: var(--color-tertiary);
  color: var(--color-primary);
}

.selected{
  background-color: white;
  color: var(--color-secondary);
}

.selected:hover{
  background-color: white;
  color: var(--color-secondary);
}

.overview-container{
  position: relative;
  display: grid;
  grid-template-columns: auto;
  height: 100%;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  margin: 20px 0px 20px 0px;
  max-width: 1200px;
}

.movie-data-title{
  position: relative;
  font-size: var(--font-size-body);
  font-weight: 600;
  padding: 3px 0px 3px 0px;
}