.add-movie-container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--global-font);
  font-size: var(--font-size-subheading);
  margin: 30px;
  background-color: #e2e2e2;
  border: 1px solid black;
  border-radius: 20px;
  overflow: hidden;
  width: 90%;
  max-width: 800px;
  left: 50%;
  transform: translateX(-50%);
}

.add-movie-title-input{
  height: 28px;
  width: 300px;
  font-size: var(--font-size-subsubheading);
  margin: 10px;
}

.add-movie-submit{
  background-color: gray;
  border-radius: 5px;
  border: none;
  color: white;
  height: 34px;
  width: 80px;
  font-weight: 700;
  font-size: var(--font-size-body);
}

.add-movie-submit:hover{
  background-color: rgb(99, 99, 99);
}

.add-movie-submit:active{
  background-color: rgb(58, 58, 58);
}

