.watched-button, .not-watched-button, .on-watchlist-button, .add-watchlist-button{
  height: 30px;
  width: 110px;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: 700;
  font-size: var(--font-size-small);
  margin: 2px;
}

.not-watched-button, .add-watchlist-button{
  background-color: gray;
}

.watched-button{
  background-color: rgb(0, 182, 106);
}

.watched-button:hover{
  animation: watch-hover 0.2s forwards;
}

.on-watchlist-button{
  background-color: rgb(0, 109, 182);
}

.on-watchlist-button:hover{
  animation: watchlist-hover 0.2s forwards;
}

.movie-entry-title{
  position: relative;
  font-size: var(--font-size-subsubheading);
  font-weight: 600;
  padding: 3px 0px 3px 0px;
  margin: 14px;
  margin-left: 20px;
}

.movie-entry{
  display: flex;
  flex-direction: column;
  background-color: #e2e2e2;
  margin-top: 10px;
  height: 55px;
  border: 1px solid black;
  border-radius: 20px;
  overflow: hidden;
  max-width: 1200px;
}

hr.solid{
  border-top: 2px solid rgb(158, 158, 158);
}

.entry-button-container{
  position: absolute;
  right: 0%;
  margin: 11px;
  margin-right: 20px;
}

.expanded{
  animation: expand 0.1s forwards;
}

.contracted{
  animation: contract 0.1s forwards;
}

.movie-entry-header{
  display: flex;
  background-color: #e2e2e2;
  height: 55px;
}

.movie-entry-delete{
  height: 30px;
  width: 50px;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: 700;
  font-size: var(--font-size-small);
  margin: 2px;
  background-color: red;
}

.entry-detail-container{
  padding-left: 20px;
}

@keyframes watch-hover {
  from {
    background-color: rgb(0, 182, 106);
  }
  to {
    background-color: rgb(0, 117, 68);
  }
}

@keyframes watchlist-hover {
  from {
    background-color: rgb(0, 109, 182);
  }
  to {
    background-color: rgb(0, 78, 131);
  }
}

@keyframes expand {
  from {
    height: 55px;
  }
  to {
    height: 200px;
  }
}

@keyframes contract {
  from {
    height: 200px;
  }
  to {
    height: 55px;
  }
}